---
interface Props {
    content: string,
    animation: string
}
const {content, animation} = Astro.props
---
<div class=`card ${animation} opacity-0 my-8 text-white text-2xl flex items-center justify-center shadow-xl shadow-blue-300`>{content}</div>
<style>
  .card {
    min-width: 100%;
    max-width: 500px;
    height: 4rem;
    border-radius: 30px;
    background: #3366ff;
  }
</style>
