<footer class="col-start-1 col-span-3 bg-red-500 w-full h-96 shadow flex">
    <div>
        <img src="" alt="Xd">
        <ul>
            <li>XD</li>
            <li>XD</li>
            <li>XD</li>
        </ul>
    </div>
    <div>
        <div>
            <ul>
                <li>Hola</li>
                <li>Hola</li>
                <li>Hola</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Hola</li>
                <li>Hola</li>
                <li>Hola</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Hola</li>
                <li>Hola</li>
                <li>Hola</li>
            </ul>
        </div>
    </div>
</footer>