<header class="h-16 w-full flex justify-between shadow-lg sticky">
    <h1>Hola</h1>
    <h2>Nombre</h2>
    <nav>
        <ul>
            <li>menu</li>
            <li>menu</li>
            <li>menu</li>
        </ul>
    </nav>
</header>