---
import Box from "./Box.astro";

---

<h2 class="w-full text-3xl col-start-2 text-center relative my-8 border-b-4 border-blue-500 py-4">
  Información
</h2>
<section class="col-start-2 w-full">
  <Box content="Hola" animation="animate-over-1"/>
  <Box content="Hola" animation="animate-over-2"/>
  <Box content="Hola" animation="animate-over-3"/>
  <Box content="Hola" animation="animate-over-4"/>
  <Box content="Hola" animation="animate-over-5"/>
  <Box content="Hola" animation="animate-over-6"/>
</section>


