---
import CardP from './CardP.astro';
---
<h2 class="w-full text-3xl col-start-2 text-center relative my-8 border-b-4 border-yellow-500 py-4">Intereses</h2>
<section class="col-start-2 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 md:gap-12 lg:gap-10">
    <CardP img="./aaron-vargas/space.jpg"/>
    <CardP img="./aaron-vargas/space.jpg"/>
    <CardP img="./aaron-vargas/space.jpg"/>
</section>