---
const {color1,color2,color3,animation} = Astro.props
---
<div class={`progress-loader ${color1}`}>
    <div class={`progress bg-gradient-to-r ${color2} ${color3} ${animation}`}></div>
</div>
<style>
    .progress-loader {
  position: relative;
  min-width: max-content;
  width: 300px;
  height: 10px;
  border-radius: 7px;
}

.progress {
  width: 1px;
  height: 10px;
  border-radius: 7px;
  transition: 0.5s;
  /* animation: loading_44 5s cubic-bezier(.4,1.01,1,1) forwards; */
}

@keyframes loading_44 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
</style>